@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----------------- Logo ----------------- */
header .logo img
{
  width: 250px;
  /* color: #00000000; */
}
/* ----------------- Menu toggle ----------------- */
/* white */
/* .toggle
{
  position: relative;
  width: 30px;
  height: 30px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
} */
/* black */
/* .toggle_1
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url("images/menu_1.png");

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle_1.active
{
  background: url("images/x_1.png");

  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
} */

/* ----------------- Background ----------------- */
.showcase_1
{
  /* position: absolute; */
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 1;

  background-color: #ffffff;
  background-image: url("images/back4.jpg");
  background-size: cover;
  object-fit: cover;
}
.showcase_1.active
{
  right: 300px;
}
@keyframes bg {
	0% {
	  background-position-x: 0;
	}
	100% {
	  background-position-x: 10000px;
	}
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000c9;
  mix-blend-mode: overlay;
}

/* ----------------- Service Content ----------------- */
@font-face {
  font-family: "HelveticaNow"; 
  src: url(https://assets.codepen.io/5286152/HelveticaNowText-Regular.ttf);
}

.introcontainer {
  width: 100%;
  height: 100%;
  /* margin: auto; */
  position: absolute;
}
.introcontainer h2
{
  font-size: 4.5em;
  font-weight: thick 300px;
  color: #ffffff;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 3px 3px 4px #677179;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0);
}
.swiper-slide {
  width: 500px;
  height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
}
.cards {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.card img {
  object-fit: cover;
  width: 650px;
  border-radius: 5px;
  max-width: 100%;
  height: 500px; /*auto;*/
  min-height: 50vh;
  padding: 0;
  margin: 0;

  box-shadow: 20px 20px 50px #5d5d5d9b;
  border-radius: 8px;
}

.overlay1 {
  position: absolute;
  top: 0;
  border-radius: 8px;
  width: 650px;
  height: 500px;
  background: #0000009f; /* Adjust color and opacity as needed */
  mix-blend-mode: overlay;
  pointer-events: none; /* Ensures overlay does not interfere with interactions */
}

.card.two img {
  filter: sepia(100%) hue-rotate(190deg) saturate(300%);
}
.card.four img {
  filter: invert(4%) sepia(75%) saturate(500%) hue-rotate(356deg) brightness(70%) contrast(103%);
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  max-width: 100%;
  width: 500px;
  
}

.title-box {
  display: flex;
  text-align: left;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0 !important;
  bottom: 50px;
  justify-content: center;
  color: #fff;
  opacity: 0;
  z-index: 15;
}
.title-box h1 {
  display: block;
  font-family: "Futura";
  font-weight: 700;
  line-height: normal;
  max-width: 80%;
  font-size: 3vmin;
}
.title-box p {
  font-family: "HelveticaNow";
  font-size: 2vmin;
  padding-top: 10px;
  margin: 0;
  padding-left: 1%;
  max-width: 80%;
}
.card .title-box .seperator {
  height: 1px;
  width:10%;
  background: white;
  position: absolute;
  content: "";
  left: -15%;
  top: 50%;  
}
.swiper-slide .title-box{
  transform: translateX(-50%);
  transition: all .7s ease .3s;
}
.swiper-slide-active .title-box {
  transform: translateX(0%);
  opacity: 1;
  transition: all .7s ease;
}

.swiper-scrollbar {
  background: white;
}

.swiper-slide .card img {
  transition: filter .7s ease;
  filter: grayscale(100%);
}
.swiper-slide-active .card img {
  filter: grayscale(0%) brightness(60%);
}

.swiper-pagination-bullet-active {
  background: white !important;
  width: 25px !important;
  height: 5px !important;
  border-radius: 0 !important;
}
.swiper-pagination-bullet {
  background: whitesmoke !important;
  width: 25px !important;
  height: 5px !important;
  border-radius: 0!important;
}
.swiper-arrows {
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50%;
}
.swiper-button-prev,
.swiper-button-next {
  width: 80px !important;
  height: 80px;
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  margin: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.swiper-button-prev {
  left: 10px !important;
  right: auto !important;
  background-color: rgba(255, 123, 0, 0.97);
}
.swiper-button-next {
  right: 10px !important;
  background-color: rgba(255, 123, 0, 0.97);
}
.swiper-button-prev span,
.swiper-button-next span {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  border: solid 2px #000000;
  border-left: 0;
  border-bottom: 0;
  transition: all 0.1s ease;
}
.swiper-button-prev span {
  transform: rotate(-135deg);
  left: 49%;
}
.swiper-button-next span {
  transform: rotate(45deg);
  right: 49%;
}
.swiper-button-prev:hover span,
.swiper-button-next:hover span {
  width: 5px;
  height: 5px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  width: 0px;
  height: inherit;
  content: "";
  position: absolute;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  /* opacity: 0.8; */
}
.swiper-button-prev:after {
  right: 0;
}
.swiper-button-next:after {
  left: 0;
}
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  width: inherit;
}
.swiper-button-disabled {
  opacity: 1 !important;
}
.swiper-button-disabled.swiper-button-prev span,
.swiper-button-disabled.swiper-button-next span {
  opacity: 0.2;
}
@media screen and (max-width: 512px) {
  .swiper-button-prev,
  .swiper-button-next {
  width: 60px;
  height: 60px;
  bottom: 0;
  }
  .swiper-arrows {
  height: 60px;
  }
  .swiper-button-prev {
  right: 60px;
  }
  .swiper-button-prev span {
  left: 45%;
  }
  .swiper-button-next span {
  right: 45%;
  }
}
.swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
  content: "attr" !important;
}
.swiper-button-prev::after, .swiper-container-rtl .swiper-button-prev::after {
  content: "attr" !important;
}





/* ------------- Menu ------------- */
.menu
{
  position: absolute;
  top: 60px;
  right: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 1000;
}
.menu li {
  color: #fff;
  font-size: 24px;
}
.menu ul
{
  position: relative;
  list-style: none;
}
.menu ul li
{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.menu ul li a:hover
{

  background: #ffffff;
  color: transparent;
  background: linear-gradient(90deg, #ff0000, #f9530b, #ff9005);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  transition: 0.5s;
  text-decoration: underline;
}

.menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #f2f2f2;
  position: relative;
  display: inline-block;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fbd808;
  transition: width 0.3s ease;
}

.menu ul li a:hover::after {
  width: 100%;
  left: 0;
  background: linear-gradient(90deg, #ff0000, #f9530b, #ff9005);
}

@-webkit-keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@media (max-width: 991px)
{
  .showcase_1,
  .showcase_1 header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}


/* ---------- Footer --------- */
/* General Footer Styles */
.site-footer {
  background-color: #000;
  padding: 45px 45px 10px 45px; /* Added padding to all sides */
  font-size: 15px;
  line-height: 24px;
  color: #737373; /* Text color */
}

/* Footer Image Section */
.footer-images {
  display: flex;
  /*flex-direction: column;*/ /* Stack images vertically */
  justify-content: space-between; /* Space images evenly */
  gap: 5px; /* Space between images */
}

.footer-image {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  max-width: 450px; /* Adjust max width of images as needed */
}

/* Adjustments for footer-content */
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Wrap the content on smaller screens */
}

/* Footer Section */
.footer-section {
  flex: 1;
  margin-right: 20px;
  /* max-width: 24%;  */
}

/* Footer About and Quick Links specific adjustments */
.footer-about {
  max-width: 40%; /* Adjust width as necessary */
}

.footer-quick-links {
  max-width: 20%; /* Adjust width as necessary */
}

.contact-info {
  max-width: 20%; /* Adjust width as necessary */
}

.footer-images {
  max-width: 20%; /* Adjust width as necessary */
}

/* Responsive Styles */
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column; /* Stack sections vertically on small screens */
}

.footer-images {
    flex-direction: column; /* Stack images vertically on small screens */
}
}

/* Contact Info Section */
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px; /* Add space from the bottom */
  letter-spacing: 2px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item span {
  font-size: 20px;
  margin-right: 10px;
  color: #737373;
}

.info-item a,
.info-item p {
  color: #737373;
  text-decoration: none;
}

.info-item a:hover {
  color: yellow;
}

.info-item p {
  margin: 0;
}

/* Footer Headings */
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

/* Horizontal Line Style */
.site-footer hr {
  border-top-color: #606060;
  opacity: 0.5;
  margin: 20px 0;
}

/* Link Styles */
.site-footer a {
  color: #737373;
  text-decoration: none; /* Remove underline */
}

/* Footer Links */
.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

/* Footer Links Hover Effect */
.footer-links a:hover {
  color: yellow;
  text-decoration: none;
}

/* Copyright Text */
.copyright-text {
  margin: 0;
}

/* Social Icons */
.social-icons {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  text-align: right;
  margin-right: 40px; /* move icons from the right */
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

/* Social Icons Hover Colors */
.social-icons a.tiktok:hover {
  background-color: #ed007a;
}
.social-icons a.instagram:hover {
  background-color: #ff0000;
}
.social-icons a.whatsapp:hover {
  background-color: #7db241;
}
.social-icons a.facebook:hover {
  background-color: #2b4377;
}
.social-icons a.linkedin:hover {
  background-color: #0093d7;
}

/* Responsive Styles */
@media (max-width: 991px) {
  .site-footer [class^=col-] {
      margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
      padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
      text-align: center;
  }
}


/* ------------- Social ------------- */

/* ------ Black ------ */
.social_1
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 580px;
}
.social_1 ion-icon {
  font-size: 55px;
}
.social_1 li
{
  list-style: none;
}
/* twitter-x */
.social_1 li i
{
  font-size: 55px;
}
.social_1 li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  color: #ffffff;
}
.social_1 li a:hover
{
  transform: scale(0.5) translateY(-15px);
}


/* -------- White --------- */
.social_2
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 580px;
}
.social_2 ion-icon {
  font-size: 55px;
}
.social_2 li
{
  list-style: none;
}
/* twitter-x */
.social_2 li i
{
  font-size: 55px;
}
.social_2 li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  color: #000000;
}
.social_2 li a:hover
{
  transform: scale(0.5) translateY(-15px);
  color: blue;
}

