@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ----------------- Logo ----------------- */
header .logo img
{
  width: 200px;
  /* color: #00000000; */
}
/* ----------------- Background ----------------- */
.showcase_1
{
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 1;

  background-color: #000000;
  background-image: url("images/back4.jpg");
  background-size: cover;
  object-fit: cover;
}
.showcase_1.active
{
  right: 300px;
}
@keyframes bg {
	0% {
	  background-position-x: 0;
	}
	100% {
	  background-position-x: 10000px;
	}
}
.showcase_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000c9;
  mix-blend-mode: overlay;
}


/* ----------------- About Content ----------------- */
section {
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 60px;
  /* min-height: 100vh; */
  padding: 20px 60px;
}

/* CONTENT */
.content {
  max-width: 2400px;
}

.content h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 36px;
  color: #fff;
}

.content p {
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #fff;
}

.content button {
  display: inline-block;
  background: #ffffff00;
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  border: 2px solid #ffffff;
  outline: 0;
  padding: 10px 30px;
  border-radius: 10px;
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 4px;
  letter-spacing: 2px;

  width: 210px;
  height: 42px;
}

/* SLIDER */

.swiper {
  position: relative;
  width: 500px;
  height: 500px;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.3);
  user-select: none;
  border-radius: 20px;
  
  position: relative; /* This is needed for absolute positioning of the pseudo-element */
  display: flex; /* This enables flexbox */
  justify-content: center; /* This centers the content horizontally */
  align-items: center; /* This centers the content vertically */
}

/* rectangle behind swiper-slide */
.swiper-slide::before {
  content: "";
  position: absolute;
  /* centered */
  top: -3.5px;
  left: -3.5px;
  /* shifted */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;

  z-index: -1; /* This puts the rectangle behind the content of the div */

  box-shadow: 20px 20px 50px #7575759b;
  border-radius: 8px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.815);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 0 0 20px 20px;
}

.overlay h1 {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: 600;
  margin-bottom: 8px;
}

.overlay p {
  font-size: clamp(0.8rem, 4vw, 0.9rem);
  font-weight: 300;
  line-height: 1.3;
}

@media (max-width: 1050px) {
  .swiper {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 930px) {
  section {
    grid-template-columns: 100%;
    grid-template-rows: 55% 40%;
    grid-template-areas:
      "slider"
      "content";
    place-items: center;
    gap: 64px;
    padding: 60px;
  }

  .swiper {
    grid-area: slider;
  }

  .content {
    grid-area: content;
    text-align: center;
  }

  .content h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 470px) {
  section {
    padding: 40px 40px 60px;
  }

  .swiper {
    width: 300px;
    height: 400px;
  }
}


/* Gradient Animation Button
/******************************/

button:hover {
	border: 2px;
	position: relative;
	border-radius: 10px;
	color: #fff;
	background: #00000000;
	padding: 10 30px;
	box-shadow: 0 0 0 1px 0 0 0 1px rgba(255, 255, 255, 0.14);
	max-width: 100%;
	justify-content: center;
	align-items: center;
	/* transition-property: border-color, background, color, transform, box-shadow; */
	transition-duration: .15s;
	transition-timing-function: ease;
	font-size: 1em;

  width: 210px;
  height: 42px;

	transition: 0.3s;
}

button:hover .highlight-bg {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	background: inherit;
	border-radius: 10px;
	background: linear-gradient(-90deg, #ff0000, #f9530b, #ff9005);
	background-size: 400% 100%;
	border: none;
	padding: 0;
	margin: 0;
	/* animation: background-anim 8s ease-in-out infinite; */
  transition: 0.3s;
}

button:hover .button-text {
  text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: 0.3s;
}

button:hover .highlight-bg::after {
	content: "";
	position: absolute;
	background-size: inherit;
	background-image: inherit;
	animation: inherit;
	left: 0;
	right: 0;
	top: 2px;
	height: 100%;
	filter: blur(.5rem);
	transition: 0.3s;
  border-radius: 10px;
}

@keyframes background-anim {
	50% {
		background-position: 140% 50%;
		transform: skew(-2deg);
	}
}


/* ------------- Menu ------------- */
.menu
{
  position: absolute;
  top: 60px;
  right: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 1000;
}
.menu ul
{
  position: relative;
  list-style: none;
}
.menu ul li
{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}
.menu ul li a:hover
{

  background: #ffffff;
  color: transparent;
  background: linear-gradient(90deg, #ff0000, #f9530b, #ff9005);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  transition: 0.5s;
  text-decoration: underline;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #f2f2f2;
  position: relative;
  display: inline-block;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fbd808;
  transition: width 0.3s ease;
}

.menu ul li a:hover::after {
  width: 100%;
  left: 0;
  background: linear-gradient(90deg, #ff0000, #f9530b, #ff9005);
}
@-webkit-keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@media (max-width: 991px)
{
  .showcase_1,
  .showcase_1 header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

/* ---------- Footer --------- */
/* General Footer Styles */
.site-footer {
  background-color: #000;
  padding: 45px 45px 10px 45px; /* Added padding to all sides */
  font-size: 15px;
  line-height: 24px;
  color: #737373; /* Text color */
}

/* Footer Image Section */
.footer-images {
  display: flex;
  /*flex-direction: column;*/ /* Stack images vertically */
  justify-content: space-between; /* Space images evenly */
  gap: 5px; /* Space between images */
}

.footer-image {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  max-width: 450px; /* Adjust max width of images as needed */
}

/* Adjustments for footer-content */
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Wrap the content on smaller screens */
}

/* Footer Section */
.footer-section {
  flex: 1;
  margin-right: 20px;
  /* max-width: 24%;  */
}

/* Footer About and Quick Links specific adjustments */
.footer-about {
  max-width: 40%; /* Adjust width as necessary */
}

.footer-quick-links {
  max-width: 20%; /* Adjust width as necessary */
}

.contact-info {
  max-width: 20%; /* Adjust width as necessary */
}

.footer-images {
  max-width: 20%; /* Adjust width as necessary */
}

/* Responsive Styles */
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column; /* Stack sections vertically on small screens */
}

.footer-images {
    flex-direction: column; /* Stack images vertically on small screens */
}
}

/* Contact Info Section */
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px; /* Add space from the bottom */
  letter-spacing: 2px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item span {
  font-size: 20px;
  margin-right: 10px;
  color: #737373;
}

.info-item a,
.info-item p {
  color: #737373;
  text-decoration: none;
}

.info-item a:hover {
  color: yellow;
}

.info-item p {
  margin: 0;
}

/* Footer Headings */
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

/* Horizontal Line Style */
.site-footer hr {
  border-top-color: #606060;
  opacity: 0.5;
  margin: 20px 0;
}

/* Link Styles */
.site-footer a {
  color: #737373;
  text-decoration: none; /* Remove underline */
}

/* Footer Links */
.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

/* Footer Links Hover Effect */
.footer-links a:hover {
  color: yellow;
  text-decoration: none;
}

/* Copyright Text */
.copyright-text {
  margin: 0;
}

/* Social Icons */
.social-icons {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  text-align: right;
  margin-right: 40px; /* move icons from the right */
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

/* Social Icons Hover Colors */
.social-icons a.tiktok:hover {
  background-color: #ed007a;
}
.social-icons a.instagram:hover {
  background-color: #ff0000;
}
.social-icons a.whatsapp:hover {
  background-color: #7db241;
}
.social-icons a.facebook:hover {
  background-color: #2b4377;
}
.social-icons a.linkedin:hover {
  background-color: #0093d7;
}

/* Responsive Styles */
@media (max-width: 991px) {
  .site-footer [class^=col-] {
      margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
      padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
      text-align: center;
  }
}


/* ------------- Social ------------- */

/* ------ Black ------ */
.social_1
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 470px;
}
.social_1 ion-icon {
  font-size: 55px;
}
.social_1 li
{
  list-style: none;
}
/* twitter-x */
.social_1 li i
{
  font-size: 55px;
}
.social_1 li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  color: #ffffff;
}
.social_1 li a:hover
{
  transform: scale(0.5) translateY(-15px);
}


/* -------- White --------- */
.social_2
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 470px;
}
.social_2 ion-icon {
  font-size: 55px;
}
.social_2 li
{
  list-style: none;
}
/* twitter-x */
.social_2 li i
{
  font-size: 55px;
}
.social_2 li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  color: #000000;
}
.social_2 li a:hover
{
  transform: scale(0.5) translateY(-15px);
  color: blue;
}
