@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img
{
  width: 400px;
  /* color: #00000000; */
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #bd876094; */
  background: #39383894;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 4.5em;
  font-weight: 300;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 3px 3px #615f5fab;
}
.text h3
{
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 3px 3px #615f5fab;
  margin: 20px 0;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 200;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #ffffff00;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
.text a:hover
{
  /* letter-spacing: 6px; */
  border: 2px solid #ffffff;
  color: rgb(0, 0, 0);
  background:#ffffff ;
  transition: 1s;
  text-decoration: none;
  border-radius: 10px;
}
/* Showcase */
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
  /* background-image: linear-gradient(rgba(228, 226, 226, 0),rgba(110, 109, 109, 0)),url('backgrounds/26.jpg'); */
  background-size: 1500px;
  background-image: url('backgrounds/26.jpg');
  /* 26 2 3 5*/
  /* 3: services. 2: about. 4 or 26: contact*/
}
.showcase.active
{
  right: 300px;
}

/* Menu */
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #f49403; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

.titleheader {
  /* height: 50vh; */
  /* width:100%; */
  /* background-position: center; */
  /* background-size: cover; */
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Agdasima', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px #ff6600ab;
}
.titleheader h1 {
  /* margin-bottom: 1000px; */
  margin-right: 300px;
}

.title {
  position: center;
  margin-top: 80px;
  padding-left: 600px;
}

/* ---------contact us page------- */
.location{
    width: 80%;
    margin: auto;
    padding: 70px 10;
    padding-top: 90px;
}
.location iframe{
    width: 90%;
    height: 640px;
    /* padding-top: 70px; */
    border-radius: 10px;
}
.contact-us{
    width: 80%;
    /* margin: auto; */
    margin: 10px;
    padding-top: 100px;
    color:#fff;
    /* text-shadow: 2px 2px #615f5fab; */
    text-shadow: 1px 1px 2px #ff6a00cc;
}
.contact-col{
    flex-basis: 50%;
    margin-bottom: 10px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #d5a276;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #ff6a00cc;
}

.btn-1{
    width: 150px;
    padding: 12px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 1rem;
    text-transform: uppercase;
    background: #ff6a00ed;
    border-radius: 10px;
    border: 1px solid #000000;
  }
  .btn-1:hover{
    border: 1px solid #e37500;
    color: rgb(10, 9, 9);
    background:#f6f7f8ac ;
    transition: 1s;
  }



/* ------------- Social ------------- */

/* -------- White --------- */
.social_2
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
}
.social_2 ion-icon {
  font-size: 55px;
}
.social_2 li
{
  list-style: none;
}
.social_2 li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  color: #000000;
}
.social_2 li a:hover
{
  transform: scale(0.5) translateY(-15px);
  color: #000000;
}
